@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import './variables';
@import './task';

html {
  font-size: 62.5%;
}

body {
  background-color: $dark-blue;
  box-sizing: border-box;
  color: $light-blue;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin-bottom: 10rem;
  .title {
    text-align: center;
    h1 {
      font-size: 5rem;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .flex-display {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .task-group {
    &-title {
      font-size: 3rem;
    }
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      width: 50%;
      align-items: center;
    }
  }
}
