.task {
  margin: 1rem 0;
  height: 3rem;
  display: flex;
  align-items: center;
  animation: smooth-in 300ms ease running;
  input {
    background: $red;
    color: $white;
    margin-right: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    height: 2.3rem;
    @media (min-width: 768px) {
      height: 3rem;
      width: 25rem;
    }
    @media (min-width: 1024px) {
      font-size: 2.5rem;
      width: 40rem;
    }
  }

  input:disabled {
    background: rgba(239, 84, 85, 0.6);
    color: rgba(255, 255, 255, 0.39);
    text-decoration: line-through;
  }

  button {
    background: $yellow;
    color: $dark-blue;
    border-radius: 0.3rem;
    border: none;
    margin: 0.2rem;

    font-size: 2rem;
    height: 3.3rem;
    width: 3.3rem;

    @media (min-width: 768px) {
      font-size: 3rem;
      height: 4rem;
      width: 4rem;
    }

    &.remove {
      background: $white;
      font-weight: 700;
    }
    &.completed {
      font-weight: 700;
    }
  }

  &.task-adder {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 97%;
    max-width: 80rem;
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    @media (min-width: 768px) {
      width: 80%;
      height: 6rem;
      font-size: 3rem;
    }
    * {
      box-shadow: 0px 0px 4px 2px rgba(43, 50, 82, 0.7);
    }
    input {
      height: 2rem;
      width: 100%;
      padding: 0.5rem;
      font-size: 2rem;
      @media (min-width: 768px) {
        height: 5rem;
        font-size: 3rem;
      }
    }
    button {
      font-size: 2rem;
      height: 3rem;
      width: 5rem;
      @media (min-width: 768px) {
        width: 25rem;
        height: 6rem;
        font-size: 3rem;
      }
    }
  }
}
